<%- include('partials/header.ejs') %>

<h1>Get Current Weather</h1>
<button id="randomCity">Open A Weather Fortune Cookie</button>

<div id="weatherData">
  <div id="staticText">Weather or Not, Your Fortune is Here</div>
</div>
<!--Text edited in the innerHTML of this div by script.js-->
<script src="/script.js"></script>

<%- include('partials/footer.ejs') %>